[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3"

[scripts]
script = "python3 src/pyCli.py"
branch = "python3 src/pyCli.py -b "
